








	
	


/******************************************************************************
********************************   wireframe   ********************************
******************************************************************************/

.ditch-tab-skin-wireframe .ditchnet-tab-container {
			margin:2px;
			border-bottom: 1px solid black;
			border-left:   1px solid black;
			}
	
.ditch-tab-skin-wireframe .ditch-tab-wrap {
			
			}
	
.ditch-tab-skin-wireframe .ditch-tab {
			float:left;
			padding:2px 10px 2px;
			border-top:  1px solid black;
			border-right:1px solid black;
			cursor:pointer;
			}
	
.ditch-tab-skin-wireframe .ditch-tab-wrap .ditch-unfocused {
			color:black;
			background-color:red;
			}
	
.ditch-tab-skin-wireframe .ditch-tab-wrap .ditch-focused {
			color:red;
			background-color:silver;
			}

.ditch-tab-skin-wireframe .ditch-tab-pane-wrap {
			padding:8px;
			border-top:    1px solid black;
			border-right:  1px solid black;
			}

.ditch-tab-skin-wireframe .ditch-tab-pane {
			
			}
	
.ditch-tab-skin-wireframe br.ditch-clear {
			clear:both;
			}
			
			
/******************************************************************************
******************************   INVISIBLE   **********************************
******************************************************************************/

.ditch-tab-skin-invisible .ditchnet-tab-container {
			margin:10px;
			border:0;
			}
	
.ditch-tab-skin-invisible .ditch-tab-wrap {
			display:none;
			border:0;
			}
	
.ditch-tab-skin-invisible .ditch-tab {
			display:none;
			border:0;
			}
	
.ditch-tab-skin-invisible .ditch-tab-wrap .ditch-unfocused {
			border:0;
			}
	
.ditch-tab-skin-invisible .ditch-tab-wrap .ditch-focused {
			border:0;
			}

.ditch-tab-skin-invisible .ditch-tab-pane-wrap {
			border:0;
			padding:8px;
			}

.ditch-tab-skin-invisible .ditch-tab-pane {
			border:0;
			}
	
.ditch-tab-skin-invisible br.ditch-clear {
			clear:both;
			}
			
			
/******************************************************************************
********************************   default   **********************************
******************************************************************************/

.ditch-tab-skin-default .ditchnet-tab-container {
			margin:2px;
			}
	
.ditch-tab-skin-default .ditch-tab-wrap {
			
			position:relative;
			z-index:50;
			font:15px "Lucida Grande",LucidaGrande,Verdana,sans-serif;
			
			}
	
.ditch-tab-skin-default .ditch-tab {
			position:relative;
			float:left;
			padding:5px 10px;
			
			text-align:center;
			left:-25%; top:0;
			cursor:pointer;
			font:15px "Lucida Grande",LucidaGrande,Verdana,sans-serif;
			}

.ditch-tab-skin-default .ditch-tab-bg-left {
			position:absolute;
			left:0; top:0;
			width:100%; height:48px;
			}
html>body .ditch-tab-skin-default .ditch-tab-bg-left {

	
			height:100%;
	
	

			}

.ditch-tab-skin-default .ditch-unfocused {
			color:#000;
			border-bottom:1px solid #AAA;
	
		
		
			background:transparent url(/tabs/org.ditchnet.taglib/default_tab_bg_right.gif) 100% 0 no-repeat;
		
	
			}
	
.ditch-tab-skin-default .ditch-focused {
			
	
		
		
			background:transparent url(/tabs/org.ditchnet.taglib/default_tab_bg_white_right.gif) 100% 0 no-repeat;
		
	
			}


.ditch-tab-skin-default .ditch-unfocused .ditch-tab-bg-left {
			background:transparent url(/tabs/org.ditchnet.taglib/default_tab_bg_left.gif) 0 0 no-repeat;
			}
.ditch-tab-skin-default .ditch-focused .ditch-tab-bg-left {
			background:transparent url(/tabs/org.ditchnet.taglib/default_tab_bg_white_left.gif) 0 0 no-repeat;
			}



.ditch-tab-skin-default .ditch-tab a:link,
.ditch-tab-skin-default .ditch-tab a:visited {
			color:black;
			text-decoration:none;
			background-color:#FFF; 	
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			}
.ditch-tab-skin-default .ditch-tab-wrap .ditch-unfocused a:link,
.ditch-tab-skin-default .ditch-tab-wrap .ditch-unfocused a:visited {
			color:#A41;
			background-color:#AAA;
			
			}



.ditch-tab-skin-default .ditch-tab-pane-wrap {
			position:relative;
			z-index:10;
			border:2px ;
			padding:8px 5px;
			border-radius:8px;
			background-color:#FFF;
			left:-25%; top:0;
			}

.ditch-tab-skin-default .ditch-tab-pane {
			
			}
	
.ditch-tab-skin-default br.ditch-clear {
			clear:both;
			}

