table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

table {
	border:1px black solid;
	border-radius:5px;
	min-width:400px;
	font-family: Helvetica,Arial;
}

table td {
	padding:6px;
}

table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
	border-right:1px #666 solid;
}


table tr:nth-child(2n) {
	background: #AAA;
}

table tr:nth-child(2n+1){
	background: #666;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
	background:#c5e300;
}

table:not(.header) tr {
	text-align: left;
}

table.header tr:first-child {
	font-weight: bold;
	color:#444;
	background-color: #fff;
	border-bottom:1px #000 solid;
	text-align:left;
}

thead
{
	background:#c5e300;
}

table.header tr:nth-child(n+2) {
	text-align: right;
}